<div id="details">
    <button
        color ="primary"
        mat-stroked-button
        (click)="goBack()">
        go back
    </button>
    <mat-card
        class="mat-elevation-z5">
        <div *ngIf="hero; else default_title">
            <mat-card-title>{{hero.name | uppercase}} Details</mat-card-title>
            <mat-card-subtitle>id: {{hero.id}}</mat-card-subtitle>
        </div>
        <ng-template #default_title>
            <mat-card-title>Add hero</mat-card-title>
        </ng-template>
        <mat-card-content>
            <form
                [formGroup]="heroFormGroup"
                (ngSubmit)="onSubmit()">
                <div class="form-fields-container">
                    <mat-form-field appearance="fill">
                        <mat-label for="name">Hero name</mat-label>
                        <input
                            matInput
                            formControlName="name"
                            placeholder="name"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label for="name">Age</mat-label>
                        <input
                            matInput
                            formControlName="age"
                            placeholder="age"
                            required>

                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="name">Power</mat-label>
                        <mat-select
                            formControlName="power"
                            required>
                            <mat-option
                                *ngFor="let power of powers"
                                [value]="power">
                                {{ power }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttons-container">
                    <button
                        mat-raised-button
                        color="primary"
                        class="submit-button">
                        <span *ngIf="hero; else add">
                            Edit
                        </span>
                        <ng-template #add>
                            Add
                        </ng-template>
                    </button>
                </div>
            </form>

        </mat-card-content>

    </mat-card>
</div>
