#details {
    padding: 1rem;
}

mat-card {
    margin-top: 1em;

    form {
        .form-fields-container {
            display: flex;
            justify-content: space-around;
        }

        .buttons-container {
            text-align: center;
        }
    }
}