.heroes {
    padding: 1rem;

    .header {
        display: flex;
        margin-bottom: 2em;
        flex-direction: row;
        justify-content: space-between;


        #add_hero {
            text-align: end;
        }
    }

    #heroes_list {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
    }

    button.add-button {
        position:relative;
        bottom: 10px;
        margin: 1em;
    }

    mat-card {
        margin-bottom: 1em;
        width: 175px;
        button {
            margin-left: 1em;
        }

    }
}

