<div class="heroes">
    <div class="header">
        <h2>My Heroes</h2>
        <div id="add_hero">
            <button mat-fab color="accent"
                title="add hero"
                class="add-button mat-elevation-z3"
                routerLink="/add">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div id="heroes_list">
    <mat-card
        class="mat-elevation-z5"
        *ngFor="let hero of heroesToShow">
        <mat-card-title color="primary">{{ hero.name }}</mat-card-title>
        <mat-card-subtitle>{{ hero.id }}</mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-mini-fab
                color="primary"
                class="mat-elevation-z0"
                title="edit hero"
                routerLink="/detail/{{hero.id}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-mini-fab
                color="warn"
                class="mat-elevation-z0"
                title="delete hero"
                (click)="delete(hero)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    </div>
    <mat-paginator
        [length]="heroes.length"
        [pageSize]="itemsPerPage"
        (page)="onPageChange($event)"
    ></mat-paginator>
</div>
