<div class="heroes">
    <div class="header">
        <h2>My Heroes</h2>
        <div id="add_hero">
            <mat-form-field appearance="fill">
                <mat-label>Add hero</mat-label>
                <input
                    matInput
                    id="new-hero"
                    #heroName
                    placeholder="Hero name">
            </mat-form-field>
            <button color="basic"
                mat-mini-fab
                class="add-button mat-elevation-z2"
                (click)="add(heroName.value); heroName.value=''">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div id="heroes_list">
    <mat-card
        class="mat-elevation-z5"
        *ngFor="let hero of heroes">
        <mat-card-title color="primary">{{ hero.name }}</mat-card-title>
        <mat-card-subtitle>{{ hero.id }}</mat-card-subtitle>
        <mat-card-content>
            <p>Age: {{ hero.age }}</p>
            <p>Power: {{ hero.power }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <a
                mat-mini-fab
                color="primary"
                class="mat-elevation-z0"
                title="edit hero"
                routerLink="/detail/{{hero.id}}">
                <mat-icon>edit</mat-icon>
            </a>
            <button
                mat-mini-fab
                color="warn"
                class="mat-elevation-z0"
                title="delete hero"
                (click)="delete(hero)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    </div>
</div>
