.heroes {
    .header {
        display: flex;
        margin-bottom: 2em;
        flex-direction: row;
        justify-content: space-between;


        #add_hero {
            text-align: end;
        }
    }

    #heroes_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    button {
        position:relative;
        bottom: 8px;
        margin-left: 1em;
        line-height: 3em;
    }

    mat-card {
        margin-bottom: 1em;
        background-color: #EEE;
        width: 175px;

        mat-card-content {
            margin: 0;
        }
        mat-card-actions {
            padding: 0;
        }
    }

    mat-card:hover {
        background-color: rgb(245, 245, 245);
    }

}

