.heroes-menu {
    mat-grid-tile {
        background-color: rgb(152, 139, 204);
        color: white;
    }
    mat-grid-tile:hover {
        background-color: rgb(162, 149, 204);
        cursor: pointer;
    }

}

