<div id="header">
    <mat-toolbar>
        <mat-toolbar-row>
            <h1>{{ title }}</h1>
            <div class="spacer"></div>
            <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <nav>
                <button
                    mat-raised-button
                    color="primary"
                    routerLink="/dashboard">
                    Dashboard
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    routerLink="/heroes">
                    Heroes
                </button>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
